html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

body {
	overflow: scroll;
	background-color: #333;
	padding: 0;
	margin: 0;
}

/*LANDING PAGE*/

#landingPage {
	background-color: black;
	height: 650px;
	margin-top: 60px;
	overflow: hidden;
	position: relative;
}

#outerBox {
	width: 50%;
	height: 75%;
	margin: 30px auto 8% auto;
	margin-top: 30px;
	overflow: auto;
/*	outline: 1px solid white;
*/}

.innerBox {
	width: 50%;
	height: 25%;
	margin: 5% auto 0 auto;	
/*	outline: 1px solid white;
*/}

#innerBox1 {
	position: relative;
	text-align: center;
	margin-top: 25%;
	border-bottom: 1px solid white;
}

.letters {
	color: #5599cc;
	margin: 10% auto 0 auto;
	font-size: 2.5em;
	display: inline-block;
	font-style: italic;
}


.j {
	position: absolute;
	left: 30%;
/*	outline: 1px solid white;
*/}

.c {
	position: absolute;
	left: 40%;
	top: -20%;
	color: #115522;
	font-size: 9em;
	/*outline: 1px solid white;*/
}

html:lang(en)>body  .c {
	top: -30%;
}

.b{
	position: absolute;
	left: 50%;
/*	outline: 1px solid white;
*/}

#innerBox2 {
	text-align: center;
	color: white;

}

.slugLine {
	font-size: 2em;
	font-style: italic;
}


#footerNav {	
	width: 100%;
	background-color: #111;
	position: absolute;
	bottom: 1%;
	/*outline: 1px solid white;*/
}

#footerNav span {
	font-size: .5em;
	font-style: italic;
	color: #5599cc;
}

#footerNav ul {
	width: 350px;
	height: 30%;
	margin: 0 auto;
	margin-top: .5%; 
	list-style: none;
	font-size: 1.5em;
}

#footerNav ul li {
	float: left;
}

#footerNav ul li:first-child {
	margin-right: 100px;
	margin-left: 20px;
}

#footerNav ul li a {
	text-decoration: none;
	color: #777;
}

#footerNav ul li a:hover {
	text-decoration: none;
	color: #bbb;
	cursor: pointer;
}



/*DOES WHAT PAGE*/

#doesWhatPage {
	background-color: white;
	height: 650px;
	position: relative;
	margin-top: 180px;
}

#doesWhatPage h1 {
	margin-left: 50px;
	padding-top: 20px;
	letter-spacing: 2px;
}

#doesWhatPage h2 {
	margin-left: 50px;
	padding-top: 20px;
	letter-spacing: 2px;
	float: none;
}

#doesWhatPage ul {
	list-style: none;
}

#doesWhatPage li {
	display: inline-block;
}

.thumb img {
	height: 100px;
	width: 100px;
	margin-right: 20px;
}

.workDescrip {
	height: 100px;
	width: 200px;
	margin-right: 60px;
}


/*IS WHO PAGE*/

#isWhoPage {
	background-color: black;
	height: 650px;
	position: relative;
	margin-top: 180px;
}

#isWhoPage h1 {
	color: white;
	margin-left: 50px;
	padding-top: 20px;
}


#WhoContent {
	width: 60%;
	margin-left: 10%;
	overflow: auto;
	background-color: #111;
	padding: 25px;
	border-radius: 5px;

	/*outline: 2px white solid;*/
}

#bioPic img {
	height: 100px;
	float: left;
	margin-right: 20px;

/*	outline: 1px solid blue;
*/
}

#bio {
	clear: right;
	width: 500px;
}

#isWhoPage p {
	color: white;
	font-size: 1.1em;
	font-style: italic;
}

#WhoContent ul {
	list-style: none;
}

#WhoContent ul li {
	float: left;
	margin-right: 20px;
}

#WhoContent ul li a {
	color: #768;
	font-style: italic;
}

#WhoContent ul li a:hover {
	color: #968;
}